<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897011393858-i8f9oldmiig2epj41hva20ifvjbftqb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897011393858-i8f9oldmiig2epj41hva20ifvjbftqb2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>897011393858-k8a2oosiedkvtdrdt4b2b01deh8bfv94.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpsKdBHZkD8ycngyLZeDsFltt4H9LYSX8</string>
	<key>GCM_SENDER_ID</key>
	<string>897011393858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.talmir.facestudio</string>
	<key>PROJECT_ID</key>
	<string>facestudio-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>facestudio-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897011393858:ios:f1d5ca9173df2fe063d4db</string>
	<key>DATABASE_URL</key>
	<string>https://facestudio-mobile.firebaseio.com</string>
</dict>
</plist>